recovery.img
my_product/priv-app/NewCallSdk/NewCallSdk.apk
my_product/priv-app/GmsCore/GmsCore.apk
my_product/app/OplusCamera/OplusCamera.apk
my_product/app/TrichromeLibrary64CN/TrichromeLibrary64CN.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/app/OplusGestureUI/OplusGestureUI.apk
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
odm/etc/camera/hybridraw_models/unet.bin
odm/etc/camera/facerestore/fr_models/RM_GP_A.bix
odm/lib64/libarcsoft_turbo_hdr_raw_front.so
my_stock/priv-app/GlobalSearch/GlobalSearch.apk
my_stock/priv-app/OppoGallery2/OppoGallery2.apk
my_stock/priv-app/HeyTapSpeechAssist/HeyTapSpeechAssist.apk
my_stock/del-app/OplusGames/OplusGames.apk
my_stock/del-app/RMrealmeLinkExp_region/realmeLink_release.apk
my_stock/del-app/OplusDocumentsReader/OplusDocumentsReader.apk
my_stock/opex/Omoji.opex
my_stock/app/Pictorial/Pictorial.apk
my_stock/app/Instant/Instant.apk
my_stock/app/AIUnit/AIUnit.apk
my_stock/app/Browser/Browser.apk
