projectBit=10001001011111111
################# CN begin ######################
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10000000001000101;[2G4,84];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10000000001001101;[2G4,84];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10000000001010101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+head
idx:10000000001011101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10000000001100101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+head
idx:10000000001101101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+NO_head
idx:10000000001110101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+head
idx:10000000001111101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10000000010000101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10000000010001101;[2G4,80];[5GBAND1,80];[5GBAND2,80];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10000000010010101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+head
idx:10000000010011101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10000000010100101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+head
idx:10000000010101101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+NO_head
idx:10000000010110101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+head
idx:10000000010111101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10000001001000101;[2G4,84];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10000001001001101;[2G4,84];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10000001001010101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+head
idx:10000001001011101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10000001001100101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+head
idx:10000001001101101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+NO_head
idx:10000001001110101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+head
idx:10000001001111101;[2G4,78];[5GBAND1,74];[5GBAND2,74];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10000001010000101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,80];[5GBAND4,80]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10000001010001101;[2G4,80];[5GBAND1,80];[5GBAND2,80];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10000001010010101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+head
idx:10000001010011101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10000001010100101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+head
idx:10000001010101101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+NO_head
idx:10000001010110101;[2G4,68];[5GBAND1,80];[5GBAND2,80];[5GBAND3,64];[5GBAND4,64]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+head
idx:10000001010111101;[2G4,72];[5GBAND1,64];[5GBAND2,64];[5GBAND3,60];[5GBAND4,60]

#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10001000001000101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10001000001001101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10001000001010101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+head
idx:10001000001011101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10001000001100101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+head
idx:10001000001101101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+NO_head
idx:10001000001110101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+head
idx:10001000001111101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10001000010000101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10001000010001101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10001000010010101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+head
idx:10001000010011101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10001000010100101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+head
idx:10001000010101101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+NO_head
idx:10001000010110101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+NO_bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+head
idx:10001000010111101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10001001001000101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10001001001001101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10001001001010101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+NO_modem_5G+modem_4G+head
idx:10001001001011101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10001001001100101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+NO_modem_4G+head
idx:10001001001101101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+NO_head
idx:10001001001110101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+NO_2G_5G_coex+2G_5G_only+modem_5G+modem_4G+head
idx:10001001001111101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+NO_head
idx:10001001010000101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+NO_modem_4G+head
idx:10001001010001101;[2G4,88];[5GBAND1,84];[5GBAND2,84];[5GBAND3,84];[5GBAND4,84]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+NO_head
idx:10001001010010101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+NO_modem_5G+modem_4G+head
idx:10001001010011101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+NO_head
idx:10001001010100101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+NO_modem_4G+head
idx:10001001010101101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+NO_head
idx:10001001010110101;[2G4,80];[5GBAND1,84];[5GBAND2,84];[5GBAND3,76];[5GBAND4,76]
#+NO_sar_sensor3+NO_sar_sensor2+NO_sar_sensor1+reserve+NO_hotspot+bt+2G_5G_coex+NO_2G_5G_only+modem_5G+modem_4G+head
idx:10001001010111101;[2G4,84];[5GBAND1,76];[5GBAND2,76];[5GBAND3,72];[5GBAND4,72]
idx:11110011010110101;
idx:10000000000000101;[2G4,60];[5GBAND1,48];[5GBAND2,48];[5GBAND3,52];[5GBAND4,56]
################# CN end ######################
