#[CN][BT][Body SAR]
000000000100000,0x4C,0x4C,0x4C
#[CN][BT][Head SAR]
000000000110000,0x4C,0x4C,0x4C
#[CN][BT+2.4G WIFI][Body SAR]
000000001100000,0x4C,0x4C,0x4C
#[CN][BT+2.4G WIFI][Head SAR]
000000001110000,0x4C,0x4C,0x4C
#[CN][BT+5G/6G WIFI][Body SAR]
000000010100000,0x4C,0x4C,0x4C
#[CN][BT+5G/6G WIFI][Head SAR]
000000010110000,0x4C,0x4C,0x4C
#[CN][BT+2.4G WIFI+5G/6G WIFI][Body SAR]
000000011100000,0x4C,0x4C,0x4C
#[CN][BT+2.4G WIFI+5G/6G WIFI][Head SAR]
000000011110000,0x4C,0x4C,0x4C
#[CN][BT+WWAN][Body SAR]
000000100100000,0x4C,0x4C,0x4C
#[CN][BT+WWAN][Head SAR]
000000100110000,0x4C,0x4C,0x4C
#[CN][BT+WWAN+2.4G WIFI][Body SAR]
000000101100000,0x40,0x40,0x40
#[CN][BT+WWAN+2.4G WIFI][Head SAR]
000000101110000,0x40,0x40,0x40
#[CN][BT+WWAN+5G/6G WIFI][Body SAR]
000000110100000,0x40,0x40,0x40
#[CN][BT+WWAN+5G/6G WIFI][Head SAR]
000000110110000,0x40,0x40,0x40
#[CN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Body SAR]
000000111100000,0x40,0x40,0x40
#[CN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Head SAR]
000000111110000,0x40,0x40,0x40

********************************************************************************
* Please follow the below format to set the sar value:                         *
*                                                                              *
* sar_state,BR_sar_value,EDR_sar_value,BLE_sar_value                           *
*                                                                              *
* sar_state:                                                                   *
* reserved ch3 ch2 ch1 ch0 fold wwan 5Gwifi 2.4Gwifi bt head region            *
* 00       0   0   0   0   0    0    0      0        0  0    0000              *
* region:         CN(china) = 0000, IN(india) = 0001,                          *
*                 EU(europe) = 0010, FCC = 0011, CE =0100                      *
* head:           0(body sar) , 1 (head sar)                                   *
* bt:             0(bt not tx), 1(bt tx)                                       *
* 2.4G wifi:      0(2.4G wifi not tx), 1(2.4G wifi tx)                         *
* 5G wifi:        0(5G wifi not tx), 1(5G wifi tx)                             *
* wwan:           0(cellular not tx), 1(cellular tx)                           *
* fold:           0(unfolded), 1(folded)                                       *
* sar sensor ch0: 0(far), 1(near)                                              *
* sar sensor ch1: 0(far), 1(near)                                              *
* sar sensor ch2: 0(far), 1(near)                                              *
* sar sensor ch3: 0(far), 1(near)                                              *
********************************************************************************

